/*------------------------------------*\
  #BREAKPOINT-MIXINS
\*------------------------------------*/

@mixin min-width($breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
        @content;
    }
}

@mixin max-width($breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: $breakpoint-value) {
        @content;
    }
}

@mixin between-widths($lower, $upper) {
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    @media (min-width: $lower-breakpoint) and (max-width: $upper-breakpoint) {
        @content;
    }
}

/*------------------------------------*\
  #TAILWIND-MIXINS
\*------------------------------------*/

 @layer utilities {
    .contained-width {
        @apply mx-auto;

        max-width: rem(1240px);
        padding-left: rem(20px);
	    padding-right: rem(20px);

        @media screen(md) {
            padding-left: rem(40px);
            padding-right: rem(40px);
        }

        @media screen(xl) {
            padding-left: rem(140px);
            padding-right: rem(140px);
        }
    }
 }